!!!
%head
%body
  %h1= t 'welcome'
  %p
    Thank you for registering with us.
  %p
    I see that you have already installed and logged into the
    android app. Nice job!
  %p
    Any time you register other devices to receive push notifications,
    we'll send you another email. Just to be sure.
  %p
    In the meantime, head on over to the
    = link_to 'web site', root_url
    and begin setting up other sites and services to start sending
    you notifications.
  %p
    Thanks again and welcome!!
    %br
    %br
    Chris Marshall

