= content_for :title do
  %h1 Almost there


.row
  .12.columns
    We are currently in invite only testing mode.
    But, we'd like to invite you to become a tester. Please request to
    join the
    = link_to 'PushSomething Google+ community', 'https://plus.google.com/communities/110931059460862710144'
    and you'll have access to the app. It's that easy!


