= content_for :title do
  %h1 Welcome to PushSomething!!!

#welcome-row.text-center.hide-for-small-only
  .row
    .small-7.columns.small-centered
      %h2 Notifications managed
      %p
        Every notification delivered
        %em exactly
        to you
        %em wherever you are

#mobile-welcome-row.text-center.show-for-small-only
  .row
    .small-12.columns
      %h2 Notifications managed
      %p
        Every notification delivered
        %em exactly
        to you
        %em wherever you are
