= content_for :title do
  %h1 Welcome to PushSomething!!!

#welcome-row.text-center.hide-for-small-only
  .row
    .small-7.columns.small-centered
      %h2 Notifications managed
      %p
        Every notification delivered
        %em exactly
        to you
        %em wherever you are

#mobile-welcome-row.text-center.show-for-small-only
  .row
    .small-12.columns
      %h2 Notifications managed
      %p
        Every notification delivered
        %em exactly
        to you
        %em wherever you are

.row
  .small-4.columns
    %h3.text-center
      Where you are
    %p.text-justify
      Install PushSomething on all your devices. We'll notify you across
      devices when necessary and clean up after ourselves, once you've seen
      the notification.
      .bold
        Only see a notification once no matter where you see it first.
  .small-4.columns
    %h3.text-center
      Your favorite services
    %ul.disc
      %li Facebook
      %li
        Google Calendar
        %em coming soon
      %li
        Twitter
        %em coming soon
      %li And many more
    %p.text-justify
      Plus, with our RESTful API
      %em anything
      that can talk to the web, can send you notifications!
  .small-4.columns
    %h3.text-center
      Historical
    %p.text-justify
      We'll keep a record of all your notifcations, both on your devices, and
      here on the web. Even after you've dismissed it, never forget an
      important meeting, message, or friend again!

%hr
.row
  .small-8.columns.large-centered.text-center
    %h3 Ready to get started?
    = link_to user_omniauth_authorize_path(:google_oauth2) do
      .large.button#sign-in-callout
        %h1 Sign in with Google!
