// Palette
$colour-crayon: #e5eaa4;
$fountain-pen: #a8c4a2;
$mechanical-pencil: #69a5a4;
$cheap-ball-pen: #616382;
$purple-brushes: #66245b;

$background-color: $colour-crayon;
$text-color: $cheap-ball-pen;
$black: $cheap-ball-pen;
$header-color: $mechanical-pencil;
