// Palette
$colourCrayon: #e5eaa4;
$fountainPen: #a8c4a2;
$mechanicalPencil: #69a5a4;
$cheapBallPen: #616382;
$purpleBrushes: #66245b;


$backgroundColor: $colourCrayon;
$mainColor: $mechanicalPencil;
// $secondaryColor: #e9e9e9;
$alertColor: #C75254;
$successColor: darken($fountainPen, 10%);
$txtColor: $cheapBallPen;
// $highlightColor: #ffff99;
$black: $cheapBallPen;
// $white: #fff;
// $shinyEdge: rgba(#fff, .5);
// $darkEdge: rgba(#000, .2);
$headerColor: $mechanicalPencil;

$topBarBgColor: $colourCrayon;
$topBarLinkColor: $cheapBallPen;
// $topBarDropBgColor: #222;
// $topBarDropLinkColor: #fff;
// $topBarDropToggleColor: #fff;
// $topBarNavToggleColor: #fff;
