// Palette
$colourCrayon: #e5eaa4;
$fountainPen: #a8c4a2;
$mechanicalPencil: #69a5a4;
$cheapBallPen: #616382;
$purpleBrushes: #66245b;

$backgroundColor: $colourCrayon;
$mainColor: $mechanicalPencil;
$alertColor: #C75254;
$successColor: darken($fountainPen, 10%);
$txtColor: $cheapBallPen;
$black: $cheapBallPen;
$headerColor: $mechanicalPencil;
$topBarBgColor: $colourCrayon;
$topBarLinkColor: $cheapBallPen;
