@import 'colors';

.bold {
  font-weight:500;
}

body { background-color: $background-color; }
nav.top-bar { margin-bottom:0px; }
.center { text-align: center; }
.alert-box.notice { background-color: $mechanical-pencil }

dl {
  dt {
    padding-top: 1em;
    font-size:1.5em;
    font-weight: lighter;
  }
  dd {
    padding-left:2em;
    font-weight: bold;
  }
}


#title-row {
  background-color: $fountain-pen;
  $textColor: $purple-brushes;
  color: $text-color;
  h1 { color: $text-color; }

  margin-bottom:1.5em;
}

hr { border-color: $cheap-ball-pen; }

@mixin welcome-row {
  padding: 5px 10px;
}
#welcome-row {
  margin-top:-1.5em;
  margin-bottom: 1em;
  background-size: cover;
  background: url('welcome-row.png');
  height: 400px;
  padding: 4em 0em;

  h2 {
    display: inline;
    @include welcome-row;
    background-color: $cheap-ball-pen;
    color: #eee;
    font-weight: 500;
    font-size: 30pt;
  }
  p {
    @include welcome-row;
    background-color: rgba(97, 99, 130, 0.7);
    color: $black;
    margin-top: 2em;
    font-size: 20pt;

    em {
      font-weight: bold;
    }
  }
}

#mobile-welcome-row {
  margin-top:-1.5em;
  color: $black;
  h2 {
    color: $colour-crayon;
    font-weight: 500;
  }
  p em {
    font-weight:bold;
  }
  background: $cheap-ball-pen;
  padding: 1em 0;
}

#sign-in-callout  h1 {
  color: $purple-brushes;
}

pre.panel {
  font-family: 'Inconsolata', sans-serif;
}

footer {
  margin-top:2em;
  padding-top: 1em;
  padding-bottom:2em;
  background-color:$black;
  color: $white;
}
