@import 'colors';

body { background-color: $backgroundColor; }
nav.top-bar { margin-bottom:0px; }
.center { text-align: center; }

dl {
  dt {
    padding-top: 1em;
    font-size:1.5em;
    font-weight: lighter;
  }
  dd {
    padding-left:2em;
    font-weight: bold;
  }
}


#title-row {
  background-color: $fountainPen;
  $textColor: $purpleBrushes;
  color: $textColor;
  h1 { color: $textColor; }

  margin-bottom:1.5em;
}

hr { border-color: $cheapBallPen; }
