@import 'colors';

body { background-color: $background-color; }
nav.top-bar { margin-bottom:0px; }
.center { text-align: center; }
.alert-box.notice { background-color: $mechanical-pencil }

dl {
  dt {
    padding-top: 1em;
    font-size:1.5em;
    font-weight: lighter;
  }
  dd {
    padding-left:2em;
    font-weight: bold;
  }
}


#title-row {
  background-color: $fountain-pen;
  $textColor: $purple-brushes;
  color: $text-color;
  h1 { color: $text-color; }

  margin-bottom:1.5em;
}

hr { border-color: $cheap-ball-pen; }

#welcome-row {
  margin-top:-1.5em;
  background-size: cover;
  background: url('welcome-row.png');
  height: 400px;
  padding: 4em 0em;

  h2 {
    display: inline;
    color: #222;
    background-color: #fff;
    padding: 5px 10px;
  }
  p {
    margin-top: 2em;
    font-size: 20pt;
    color: #222;
    background-color: #fff;
    padding: 5px 10px;
    em {
      font-weight: bold;
    }
  }
}

#mobile-welcome-row {
  color: $colour-crayon;
  h2 {
    color: $colour-crayon;
  }
  p em {
    font-weight:bold;
  }
  background: $cheap-ball-pen;
  margin-top:-1.5em;
  padding: 1em 0;
}
